* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*for fonts*/
@font-face {
    font-family: Baskervald;
    src: url('Fonts/baskervaldadfstd.otf');
}

.baskervald-font {
    font-family: Baskervald;
}

.baiti-font {
    font-family: "Microsoft Yi Baiti";
}

nav ul li a, figure div:nth-child(2) p,
main article:first-child section p,
main article:first-child section a,
main article:nth-child(2) section:first-child div p,
main article:nth-child(2) section:first-child div a {
    font-size: 18px;
}

aside h3, figure div:nth-child(2) h3,
main article:first-child section h3,
main article:nth-child(2) section:first-child div h3 {
    font-size: 22px;
}

figure div:nth-child(2) h3, aside h3 {
    font-weight: lighter;
}

aside ul li a,
main article:first-child section a,
main article:nth-child(2) section:first-child div a {
    font-weight: bold;
}

/*elements with common positions*/
body, figure {
    position: relative;
}

aside,
#header-div p:first-of-type,
figure div:first-child,
figure div:nth-child(2),
figure div:last-child {
    position: absolute;
}

/* elements with common paddings*/
aside,
figure div:nth-child(2),
figure div:last-child,
main article:first-child section {
    padding: 15px;
}

aside h3,
main article:nth-child(2) section:first-child div h3 {
    padding: 0 0 3px 0;
}

figure div:nth-child(2) h3,
main article:first-child section h3 {
    padding: 0 0 7px 0;
}

/*elements with common widths*/
body, nav {
    width: 900px;
}

/*elements with common heights*/
figure div:last-child,
main article:first-child section img,
main article:nth-child(2) section:nth-child(2) img {
    height: 90px;
}

/*elements with common colors*/
aside, main article:first-child section {
    background-color: rgb(232, 232, 232);
}

nav ul li a,
figure div:nth-child(2),
figure div:last-child,
footer {
    background-color: rgb(34, 101, 169);
}

aside ul li a,
main article:first-child section a {
    color: rgb(34, 101, 169);
}

nav ul li a,
figure div:first-child,
figure div:nth-child(2),
figure div:last-child a,
footer {
    color: white;
}

aside ul li a:hover,
main article:first-child section a:hover,
main article:nth-child(2) section:first-child div a:hover {
    color: rgb(116, 167, 219);
}

nav ul li a:hover,
figure div:last-child:hover {
    background-color: rgb(116, 167, 219);
}

/*elements that use flexbox*/
nav ul, nav ul li a, #header-div, figure,
main article:first-child,
main article:nth-child(2) section:first-child,
main article:nth-child(2) section:nth-child(2), footer {
    display: flex;
}

nav ul, #header-div, main article:first-child,
main article:nth-child(2) section:nth-child(2), footer {
    justify-content: space-between;
}

nav ul li a, figure {
    justify-content: center;
}

nav ul li a, #header-div, footer {
    align-items: center;
}

/*formatting*/
figure div:first-child,
main article:first-child section {
    text-align: center;
}

aside ul li a, nav ul li a, #header-div a,
figure div:last-child a,
main article:first-child section a,
main article:nth-child(2) section:first-child div a {
    text-decoration: none;
}

nav ul, aside ul {
    list-style: none;
}

/*borders*/
main article:nth-child(2) section:first-child,
main article:nth-child(2) section:first-child div h3 {
    border-bottom: 2px dotted gray;
}

main article:first-child section img,
main article:nth-child(2) section:first-child img,
main article:nth-child(2) section:nth-child(2) img {
    box-sizing: content-box;
    border: 5px solid white;
    outline: 2px solid rgb(34, 101, 169);
}

/*transitions*/
aside ul li a, nav ul li a, figure div:last-child,
main article:first-child section a,
main article:nth-child(2) section:first-child div a {
    transition: 0.3s ease;
}

body {
    margin:auto;
}

/*styling nav*/
nav {
    position: fixed;
    z-index: 1;
    background-color: white;
}

nav ul li a {
    min-width: 170px;
    min-height: 50px;
}
/* /styling nav */

/*styling header*/
#header-div {
    padding: 80px 0 20px 0;
}

#header-div a {
    font-size: 36px;
    color:black;
}

#header-div p:first-of-type {
    left: 240px;
    line-height: 50px;
    padding: 0 0 0 10px;
    border-left: 1.2px solid black;
}

#header-div p:nth-of-type(2) {
    line-height: 13px;
}

figure {
    width: 100%;
    height: 335px;
    background-color: rgb(190, 218, 255);
}

figure div:first-child {
    bottom: 93px;
    width: 841px;
    border-radius: 25px;
    transform: rotate(-18deg) skew(14deg, 4deg);
    font-size: 120px;
    font-family: "Arial Nova";
    background-color: rgb(49, 137, 77);
}

figure div:nth-child(2) {
    left: 28px;
    bottom: 135px;
}

figure div:nth-child(2) h3 {
    border-bottom: 1px dashed white;
}

figure div:nth-child(2) p {
    padding: 5px 0 0 0;
}

figure div:last-child {
    top: 268px;
    right: 30px;
    height: 100px;
}

figure div:last-child:hover {
    transform: scale(1.03);
    cursor: pointer;
}

figure div:last-child a {
    font-size: 60px;
}
/*/styling header*/

/*styling main*/
/* main article 1 */
main article:first-child {
    margin: 70px 0 0 0;
    padding: 0 0 30px 0;
    border-bottom: 1px dashed black;
}

main article:first-child section h3 {
    border-bottom: 1px dashed rgb(34, 101, 169);;
}

main article:first-child section img {
    width: 240px;
    margin: 20px 0 13px 0;
}

main article:first-child section p {
    text-align: left;
    padding: 0 0 15px 0;
}

main article:first-child section a {
    float: right;
}
/* /main article 1 */

/* main article 2 */
#section-div {
    width: 10px;
}

main article:nth-child(2) section:first-child {
    width: 637px;
    padding: 30px 0 15px 0;
}

main article:nth-child(2) section:first-child div {
    margin: 0 0 0 20px;
}

main article:nth-child(2) section:first-child div p {
    padding: 5px 0 10px 0;
}

main article:nth-child(2) section:first-child div a {
    float: right;
    color:rgb(34, 101, 169);
}

main article:nth-child(2) section:first-child img {
    width: 200px;
    height: 160px;
}

main article:nth-child(2) section:nth-child(2) {
    margin: 30px 0 20px 0;
}

main article:nth-child(2) section:nth-child(2) img {
    width: 160px;
}
/* /main article 2 */
/*/styling main*/

/*styling aside*/
aside {
    top: 958px;
    right: 0;
    width: 250px;
}

aside h3 {
    color: rgb(165, 165, 165);
    border-bottom: 1px dashed rgb(165, 165, 165);
}

aside ul {
    padding: 15px 0 0 0;
}

aside ul li {
    padding: 3px 0 3px 0;
    border-bottom: 1px solid black;
}
/*/styling aside*/

footer {
    height: 50px;
    padding: 0 10px 0 10px;
}