* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px dotted gray;
}

@font-face {
    font-family: Baskervald;
    src: url('Fonts/baskervaldadfstd.otf');
}

/*for main page*/

body {
    margin: 0 auto;
    width: 900px;
}

/*styling nav*/
nav {
  position: fixed;
  width: 900px;
  background-color: white;
  z-index: 2;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

nav ul li a {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    min-width: 170px;
    background-color: rgb(34, 101, 169);
    color: white;
    text-decoration: none;
    font-size: 18px;
    
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: rgb(116, 167, 219);
}
/* /styling nav */

/*styling header*/
#header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0 20px 0;
    font-family: Baskervald;
    position: relative;
}

#header-div a {
    text-decoration: none;
    color:black;
    font-size: 36px;
    
}

#header-div p:first-of-type {
    position: absolute;
    left: 240px;
    height: 50px;
    line-height: 50px;
    border-left: 1.2px solid black;
    padding-left: 10px;
}

#header-div p:nth-of-type(2) {
    font-family: "Microsoft Yi Baiti";
    line-height: 13px;
}

figure {
    display: flex;
    justify-content: center;
    background-color: rgb(190, 218, 255);
    position: relative;
    width: 100%;
    height: 335px;
}

figure div:first-child {
    position: absolute;
    bottom: 93px;
    z-index: 0;
    background-color: rgb(49, 137, 77);
    width: 841px;
    color: white;
    font-family: "Arial Nova";
    font-size: 120px;
    text-align: center;
    border-radius: 25px;
    transform: rotate(-18deg) skew(14deg, 4deg);
}

figure div:nth-child(2) {
    position: absolute;
    left: 28px;
    bottom: 135px;
    z-index: 1;
    background-color: rgb(34, 101, 169);
    color: white;
    padding: 15px;
}

figure div:nth-child(2) h3 {
    font-family: Baskervald;
    font-weight: lighter;
    font-size: 22px;
    padding-bottom: 7px;
    border-bottom: 1px dashed white;
}

figure div:nth-child(2) p {
    font-family: "Microsoft Yi Baiti";
    font-size: 17.5px;
    padding-top: 5px;
}

figure div:last-child {
    background-color: rgb(34, 101, 169);
    height: 93px;
    padding: 10px;
    position: absolute;
    top: 280px;
    right: 30px;
    z-index: 1;
    
    transition: 0.3s ease;
}

figure div:last-child:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.03);
    cursor: pointer;
}

figure div:last-child a{
    text-decoration: none;
    color: white;
    font-family: Baskervald;
    font-size: 60px;
}
/*/styling header*/

/*styling main*/
/* main article 1 */
main article:first-child {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    padding-bottom: 30px;
    border-bottom: 1px dashed black;
}

main article:first-child section {
    background-color: rgb(232, 232, 232);
    padding: 15px;
    text-align: center;
}

main article:first-child section h3 {
    font-size: 22px;
    padding-bottom: 7px;
    border-bottom: 1px dashed rgb(34, 101, 169);;
    font-family: Baskervald;
}

main article:first-child section img {
    width: 240px;
    height: 90px;
    border: 5px solid white;
    outline: 2px solid rgb(34, 101, 169);
    box-sizing: content-box;
    margin: 20px 0 13px 0;
}

main article:first-child section p {
    text-align: left;
    font-size: 18px;
    font-family: "Microsoft Yi Baiti";
    padding-bottom: 15px;
}

main article:first-child section a {
    float: right;
    text-decoration: none;
    color:rgb(34, 101, 169);
    font-family: "Microsoft Yi Baiti";
    font-size: 18px;
    font-weight: bold;

    transition: all 0.3s ease;
}

main article:first-child section a:hover {
    color: rgb(116, 167, 219);
}
/* /main article 1 */

/* main article 2 */
main article:nth-child(2) {
    
}
/* for the contact page */