* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Muli;
    src: url('font/Muli.ttf');
}

body {
    font-family: Muli;
}

section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 60px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

article img {
    margin-bottom: 30px;
    width: 350px;
}

h2 {
    font-size: 20px;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    min-height: 50px;
    margin-bottom: 5px;
}

.stars {
    width: 22px;
    height: 22px;
    position: absolute;
    bottom: -15px;
    left: 6px;
}

.scores {
    position: absolute;
    left: 40px;
}

/*checkbox-styling*/
.hearts {
    /* relative for the pseudo elements */
    position: relative;
    left: 26px;
    bottom: -2px;
    height: 13px;
    width: 13px;
    transform: rotate(45deg);
    background-color: rgb(223, 223, 223);
    outline: none;
    -webkit-appearance:none;
}

.hearts-position-color::before,
.hearts-position-color::after {
    position:absolute;
    content:"";
    background-color:rgb(223, 223, 223);
    height: 60%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.hearts::before{
    top: -50%;
}

.hearts::after{
    top: 20%;
    right: 70%;
    transform: rotate(-90deg);
}

.hearts:checked,
.hearts:checked:before,
.hearts:checked:after{
    background-color: rgb(235, 41, 41);
}

.hearts:hover{
    cursor: pointer;
}
/*/checkbox-styling*/

.likes {
    position: absolute;
    right: 10px;
}

p {
    color: rgb(131, 131, 131);
    text-align: center;
    font-size: 14px;
}

.buttons {
    width: 200px;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

input[type="button"] {
    font-weight: bold;
    font-family: Muli;
    padding: 6px 23px 8px 23px;
    border: 3px solid black;
}

input[type="button"]:first-child {
    background-color: black;
    color: white;
}

input[type="button"]:first-child:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

input[type="button"]:nth-child(2) {
    background-color: white;
}

input[type="button"]:nth-child(2):hover {
    background-color: black;
    color: white;
    cursor: pointer;
}